* {
	font-family: sans-serif;
}

body > * {
	margin: auto 8px;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-content: stretch;
}

nav a {
	background: white;
	cursor: pointer;
	font-size: 12px;
	display: inline-block;
	padding: 4px;
	color: #333;
	border: 1px solid #888;
	margin: 0;
	flex-grow: 1;
}
nav a:hover {
	background: #ddd;
}
nav a.active {
	background:#888 !important;
	color:white !important;
}

.loading-message {
	border: 1px solid #888;
	background: #ffa;
	color: #330;
	font-size: 24px;
	padding: 14px;
}

.flex-vertical {
	display: flex;
	flex-direction column;
}

.text-center {
	text-align: center;
}

.small {
	font-size: small;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-content: center;
}

.classification-indicator {
	font-size: smaller;
	padding: 4px;
}
.positive {
	background: #4caf50;
}
.negative {
	background: #f44336;
}
.margin-8 {
	margin: 8px;
}
.hide {
	display: none !important;
}
